<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.al.nppm.business.account.dao.HisMapper" >
    <!--插入产品实例信息历史表-->
    <insert id="insertProdInstHis" parameterType="map" >
        insert into prod_inst_his
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="grpProdNbr != null" >
                GRP_PROD_NBR,
            </if>
            <if test="routeId != null" >
                ROUTE_ID,
            </if>
            <if test="PROD_INST_ID != null" >
                PROD_INST_ID,
            </if>
            <if test="PROD_ID != null" >
                PROD_ID,
            </if>
            <if test="ACC_PROD_INST_ID != null" >
                ACC_PROD_INST_ID,
            </if>
            <if test="PROD_USE_TYPE != null" >
                PROD_USE_TYPE,
            </if>
            <if test="ACC_NUM != null" >
                ACC_NUM,
            </if>
            <if test="ACCOUNT != null" >
                ACCOUNT,
            </if>
            <if test="PAYMENT_MODE_CD != null" >
                PAYMENT_MODE_CD,
            </if>
            <if test="ADDRESS_DESC != null" >
                ADDRESS_DESC,
            </if>
            <if test="OWNER_CUST_ID != null" >
                OWNER_CUST_ID,
            </if>
            <if test="PROD_INST_PWD != null" >
                PROD_INST_PWD,
            </if>
            <if test="EXCH_ID != null" >
                EXCH_ID,
            </if>
            <if test="ADDRESS_ID != null" >
                ADDRESS_ID,
            </if>
            <if test="REGION_ID != null" >
                REGION_ID,
            </if>
            <if test="LAN_ID != null" >
                LAN_ID,
            </if>
            <if test="ACT_DATE != null" >
                ACT_DATE,
            </if>
            <if test="BEGIN_RENT_DATE != null" >
                BEGIN_RENT_DATE,
            </if>
            <if test="STOP_RENT_DATE != null" >
                STOP_RENT_DATE,
            </if>
            <if test="STATUS_CD != null" >
                STATUS_CD,
            </if>
            <if test="CREATE_ORG_ID != null" >
                CREATE_ORG_ID,
            </if>
            <if test="CREATE_STAFF != null" >
                CREATE_STAFF,
            </if>
            <if test="UPDATE_STAFF != null" >
                UPDATE_STAFF,
            </if>
            <if test="CREATE_DATE != null" >
                CREATE_DATE,
            </if>
            <if test="STATUS_DATE != null" >
                STATUS_DATE,
            </if>
            <if test="UPDATE_DATE != null" >
                UPDATE_DATE,
            </if>
            <if test="FIRST_FINISH_DATE != null" >
                FIRST_FINISH_DATE,
            </if>
            <if test="BUSI_MOD_DATE != null" >
                BUSI_MOD_DATE,
            </if>
            <if test="USE_CUST_ID != null" >
                USE_CUST_ID,
            </if>
            <if test="LAST_ORDER_ITEM_ID != null" >
                LAST_ORDER_ITEM_ID,
            </if>
            <if test="REMARK != null" >
                REMARK,
            </if>
            <if test="POINT_OWNER_ID != null" >
                POINT_OWNER_ID,
            </if>
            <if test="EXT_PROD_INST_ID != null" >
                EXT_PROD_INST_ID,
            </if>
            <if test="prodInstSeq != null" >
                PROD_INST_SEQ,
            </if>
            <if test="insertDate != null" >
                INSERT_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >

            <if test="grpProdNbr != null" >
                #{grpProdNbr},
            </if>
            <if test="routeId != null" >
                #{routeId,jdbcType=BIGINT},
            </if>
            <if test="PROD_INST_ID != null" >
                #{PROD_INST_ID,jdbcType=BIGINT},
            </if>
            <if test="PROD_ID != null" >
                #{PROD_ID,jdbcType=BIGINT},
            </if>
            <if test="ACC_PROD_INST_ID != null" >
                #{ACC_PROD_INST_ID,jdbcType=BIGINT},
            </if>
            <if test="PROD_USE_TYPE != null" >
                #{PROD_USE_TYPE,jdbcType=VARCHAR},
            </if>
            <if test="ACC_NUM != null" >
                #{ACC_NUM,jdbcType=VARCHAR},
            </if>
            <if test="ACCOUNT != null" >
                #{ACCOUNT,jdbcType=VARCHAR},
            </if>
            <if test="PAYMENT_MODE_CD != null" >
                #{PAYMENT_MODE_CD,jdbcType=VARCHAR},
            </if>
            <if test="ADDRESS_DESC != null" >
                #{ADDRESS_DESC,jdbcType=VARCHAR},
            </if>
            <if test="OWNER_CUST_ID != null" >
                #{OWNER_CUST_ID,jdbcType=BIGINT},
            </if>
            <if test="PROD_INST_PWD != null" >
                #{PROD_INST_PWD,jdbcType=VARCHAR},
            </if>
            <if test="EXCH_ID != null" >
                #{EXCH_ID,jdbcType=BIGINT},
            </if>
            <if test="ADDRESS_ID != null" >
                #{ADDRESS_ID,jdbcType=BIGINT},
            </if>
            <if test="REGION_ID != null" >
                #{REGION_ID,jdbcType=BIGINT},
            </if>
            <if test="LAN_ID != null" >
                #{LAN_ID,jdbcType=BIGINT},
            </if>
            <if test="ACT_DATE != null" >
                #{ACT_DATE,jdbcType=TIMESTAMP},
            </if>
            <if test="BEGIN_RENT_DATE != null" >
                #{BEGIN_RENT_DATE,jdbcType=TIMESTAMP},
            </if>
            <if test="STOP_RENT_DATE != null" >
                #{STOP_RENT_DATE,jdbcType=TIMESTAMP},
            </if>
            <if test="STATUS_CD != null" >
                #{STATUS_CD,jdbcType=VARCHAR},
            </if>
            <if test="CREATE_ORG_ID != null" >
                #{CREATE_ORG_ID,jdbcType=BIGINT},
            </if>
            <if test="CREATE_STAFF != null" >
                #{CREATE_STAFF,jdbcType=BIGINT},
            </if>
            <if test="UPDATE_STAFF != null" >
                #{UPDATE_STAFF,jdbcType=BIGINT},
            </if>
            <if test="CREATE_DATE != null" >
                #{CREATE_DATE,jdbcType=TIMESTAMP},
            </if>
            <if test="STATUS_DATE != null" >
                #{STATUS_DATE,jdbcType=TIMESTAMP},
            </if>
            <if test="UPDATE_DATE != null" >
                #{UPDATE_DATE,jdbcType=TIMESTAMP},
            </if>
            <if test="FIRST_FINISH_DATE != null" >
                #{FIRST_FINISH_DATE,jdbcType=TIMESTAMP},
            </if>
            <if test="BUSI_MOD_DATE != null" >
                #{BUSI_MOD_DATE,jdbcType=TIMESTAMP},
            </if>
            <if test="USE_CUST_ID != null" >
                #{USE_CUST_ID,jdbcType=BIGINT},
            </if>
            <if test="LAST_ORDER_ITEM_ID != null" >
                #{LAST_ORDER_ITEM_ID,jdbcType=BIGINT},
            </if>
            <if test="REMARK != null" >
                #{REMARK,jdbcType=VARCHAR},
            </if>
            <if test="POINT_OWNER_ID != null" >
                #{POINT_OWNER_ID,jdbcType=BIGINT},
            </if>
            <if test="EXT_PROD_INST_ID != null" >
                #{EXT_PROD_INST_ID,jdbcType=BIGINT},
            </if>
            <if test="prodInstSeq != null" >
                #{prodInstSeq},
            </if>
            <if test="insertDate != null" >
                #{insertDate},
            </if>
        </trim>
    </insert>

    <!--获取产品实例信息-->
    <select id="selectProdInstHis" resultType="java.util.HashMap" parameterType="java.lang.Long"  >
        SELECT
        PROD_INST_ID, PROD_ID, ACC_PROD_INST_ID, PROD_USE_TYPE, ACC_NUM, ACCOUNT, PAYMENT_MODE_CD,
            ADDRESS_DESC, OWNER_CUST_ID, PROD_INST_PWD, EXCH_ID, ADDRESS_ID, REGION_ID, LAN_ID,
            ACT_DATE, BEGIN_RENT_DATE, STOP_RENT_DATE, STATUS_CD, CREATE_ORG_ID, CREATE_STAFF,
            UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, FIRST_FINISH_DATE, BUSI_MOD_DATE,
            USE_CUST_ID, LAST_ORDER_ITEM_ID, REMARK, POINT_OWNER_ID, EXT_PROD_INST_ID, ROUTE_ID routeId,GRP_PROD_NBR grpProdNbr
        FROM PROD_INST
        WHERE prod_inst_id = #{prodInstId,jdbcType=BIGINT}

</select>

<!-- 插入账户HIS表-->
  <insert id="insertAccountHis" parameterType="map" >
    insert into account_his
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="acctId != null" >
        ACCT_ID,
      </if>
      <if test="acctName != null" >
        ACCT_NAME,
      </if>
      <if test="acctCd != null" >
        ACCT_CD,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="acctLoginName != null" >
        ACCT_LOGIN_NAME,
      </if>
      <if test="loginPassword != null" >
        LOGIN_PASSWORD,
      </if>
      <if test="acctBillingType != null" >
        ACCT_BILLING_TYPE,
      </if>
      <if test="prodInstId != null" >
        PROD_INST_ID,
      </if>
      <if test="effDate != null" >
        EFF_DATE,
      </if>
      <if test="expDate != null" >
        EXP_DATE,
      </if>
      <if test="statusCd != null" >
        STATUS_CD,
      </if>
      <if test="statusDate != null" >
        STATUS_DATE,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="extAcctId != null" >
        EXT_ACCT_ID,
      </if>
      <if test="groupAcctId != null" >
        GROUP_ACCT_ID,
      </if>
       <if test="routeId != null" >
        route_id,
      </if>
      <if test="regionId != null" >
        region_id,
      </if>
      <if test="accountSeq != null" >
        ACCOUNT_SEQ,
      </if>
      INSERT_DATE
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="acctId != null" >
        #{acctId,jdbcType=BIGINT},
      </if>
      <if test="acctName != null" >
        #{acctName,jdbcType=VARCHAR},
      </if>
      <if test="acctCd != null" >
        #{acctCd,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="acctLoginName != null" >
        #{acctLoginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null" >
        #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="acctBillingType != null" >
        #{acctBillingType,jdbcType=INTEGER},
      </if>
      <if test="prodInstId != null" >
        #{prodInstId,jdbcType=BIGINT},
      </if>
      <if test="effDate != null" >
        #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null" >
        #{statusCd,jdbcType=BIGINT},
      </if>
      <if test="statusDate != null" >
        #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="extAcctId != null" >
        #{extAcctId,jdbcType=VARCHAR},
      </if>
      <if test="groupAcctId != null" >
        #{groupAcctId,jdbcType=VARCHAR},
      </if>
       <if test="routeId != null" >
          #{routeId,jdbcType=BIGINT},
      </if>
      <if test="regionId != null" >
          #{regionId,jdbcType=BIGINT},
      </if>
      <if test="accountSeq != null" >
          #{accountSeq,jdbcType=BIGINT},
      </if>
      SYSDATE()
    </trim>
  </insert>
  <!-- 插入外部支付账户 -->
  <insert id="insertExtAcctHis" parameterType="map" >
    insert into ext_acct
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="extAcctId != null" >
        EXT_ACCT_ID,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="payChannel != null" >
        PAY_CHANNEL,
      </if>
      <if test="payAcctCode != null" >
        PAY_ACCT_CODE,
      </if>
      <if test="payAcctName != null" >
        PAY_ACCT_NAME,
      </if>
      <if test="acctOwnerOrg != null" >
        ACCT_OWNER_ORG,
      </if>
      <if test="acctOwnerOrgBranch != null" >
        ACCT_OWNER_ORG_BRANCH,
      </if>
      <if test="effDate != null" >
        EFF_DATE,
      </if>
      <if test="expDate != null" >
        EXP_DATE,
      </if>
      <if test="ifContractQuickPay != null" >
        IF_CONTRACT_QUICK_PAY,
      </if>
      <if test="statusCd != null" >
        STATUS_CD,
      </if>
      <if test="statusDate != null" >
        STATUS_DATE,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
    <if test="routeId != null" >
        route_id,
      </if>
      <if test="extAcctSeq != null" >
        EXT_ACCT_SEQ,
      </if>
        INSERT_DATE
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="extAcctId != null" >
        #{extAcctId,jdbcType=BIGINT},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="payChannel != null" >
        #{payChannel,jdbcType=INTEGER},
      </if>
      <if test="payAcctCode != null" >
        #{payAcctCode,jdbcType=VARCHAR},
      </if>
      <if test="payAcctName != null" >
        #{payAcctName,jdbcType=VARCHAR},
      </if>
      <if test="acctOwnerOrg != null" >
        #{acctOwnerOrg,jdbcType=BIGINT},
      </if>
      <if test="acctOwnerOrgBranch != null" >
        #{acctOwnerOrgBranch,jdbcType=BIGINT},
      </if>
      <if test="effDate != null" >
        #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ifContractQuickPay != null" >
        #{ifContractQuickPay,jdbcType=INTEGER},
      </if>
      <if test="statusCd != null" >
        #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null" >
        #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="routeId != null" >
        #{routeId,jdbcType=BIGINT},
      </if>
      <if test="extAcctSeq != null" >
          #{extAcctSeq,jdbcType=BIGINT},
      </if>
      SYSDATE()
    </trim>
  </insert>
<!--   插入客户历史表 -->
  <insert id="insertCustomerHis" parameterType="map" >
    insert into customer_his
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerSeq != null" >
        CUSTOMER_SEQ,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="partyId != null" >
        PARTY_ID,
      </if>
      <if test="taxPayerId != null" >
        TAX_PAYER_ID,
      </if>
      <if test="custName != null" >
        CUST_NAME,
      </if>
      <if test="custNumber != null" >
        CUST_NUMBER,
      </if>
      <if test="custAddr != null" >
        CUST_ADDR,
      </if>
      <if test="regionId != null" >
        REGION_ID,
      </if>
      <if test="custType != null" >
        CUST_TYPE,
      </if>
      <if test="custSubType != null" >
        CUST_SUB_TYPE,
      </if>
      <if test="custSourceId != null" >
        CUST_SOURCE_ID,
      </if>
      <if test="custAreaGrade != null" >
        CUST_AREA_GRADE,
      </if>
      <if test="enterDate != null" >
        ENTER_DATE,
      </if>
      <if test="industryTypeId != null" >
        INDUSTRY_TYPE_ID,
      </if>
      <if test="extCustId != null" >
        EXT_CUST_ID,
      </if>
      <if test="secrecyLevel != null" >
        SECRECY_LEVEL,
      </if>
      <if test="custOrderId != null" >
        CUST_ORDER_ID,
      </if>
      <if test="custControlLevel != null" >
        CUST_CONTROL_LEVEL,
      </if>
      <if test="isInstead != null" >
        IS_INSTEAD,
      </if>
      <if test="isRealname != null" >
        IS_REALNAME,
      </if>
      <if test="statusCd != null" >
        STATUS_CD,
      </if>
      <if test="statusDate != null" >
        STATUS_DATE,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="lastOrderItemId != null" >
        LAST_ORDER_ITEM_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="ext1CustId != null" >
        EXT1_CUST_ID,
      </if>
      <if test="ext2CustId != null" >
        EXT2_CUST_ID,
      </if>
      <if test="ext3CustId != null" >
        EXT3_CUST_ID,
      </if>
      <if test="groupCustId != null" >
        GROUP_CUST_ID,
      </if>
      <if test="routeId != null" >
        ROUTE_ID,
      </if>
      <if test="insertDate != null" >
        INSERT_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerSeq != null" >
        #{customerSeq,jdbcType=BIGINT},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="partyId != null" >
        #{partyId,jdbcType=BIGINT},
      </if>
      <if test="taxPayerId != null" >
        #{taxPayerId,jdbcType=BIGINT},
      </if>
      <if test="custName != null" >
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custNumber != null" >
        #{custNumber,jdbcType=VARCHAR},
      </if>
      <if test="custAddr != null" >
        #{custAddr,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null" >
        #{regionId,jdbcType=BIGINT},
      </if>
      <if test="custType != null" >
        #{custType,jdbcType=VARCHAR},
      </if>
      <if test="custSubType != null" >
        #{custSubType,jdbcType=VARCHAR},
      </if>
      <if test="custSourceId != null" >
        #{custSourceId,jdbcType=BIGINT},
      </if>
      <if test="custAreaGrade != null" >
        #{custAreaGrade,jdbcType=VARCHAR},
      </if>
      <if test="enterDate != null" >
        #{enterDate,jdbcType=DATE},
      </if>
      <if test="industryTypeId != null" >
        #{industryTypeId,jdbcType=BIGINT},
      </if>
      <if test="extCustId != null" >
        #{extCustId,jdbcType=VARCHAR},
      </if>
      <if test="secrecyLevel != null" >
        #{secrecyLevel,jdbcType=VARCHAR},
      </if>
      <if test="custOrderId != null" >
        #{custOrderId,jdbcType=BIGINT},
      </if>
      <if test="custControlLevel != null" >
        #{custControlLevel,jdbcType=VARCHAR},
      </if>
      <if test="isInstead != null" >
        #{isInstead,jdbcType=INTEGER},
      </if>
      <if test="isRealname != null" >
        #{isRealname,jdbcType=INTEGER},
      </if>
      <if test="statusCd != null" >
        #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null" >
        #{statusDate,jdbcType=DATE},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="lastOrderItemId != null" >
        #{lastOrderItemId,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ext1CustId != null" >
        #{ext1CustId,jdbcType=VARCHAR},
      </if>
      <if test="ext2CustId != null" >
        #{ext2CustId,jdbcType=VARCHAR},
      </if>
      <if test="ext3CustId != null" >
        #{ext3CustId,jdbcType=VARCHAR},
      </if>
      <if test="groupCustId != null" >
        #{groupCustId,jdbcType=VARCHAR},
      </if>
      <if test="routeId != null" >
        #{routeId,jdbcType=BIGINT},
      </if>
      <if test="insertDate != null" >
        #{insertDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
<!--   插入客户合同关系历史表 -->
  <insert id="insertCustContactInfoRelHis" parameterType="map">
    insert into cust_contact_info_rel_his
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="custContactInfoRelSeq != null">
        CUST_CONTACT_INFO_REL_SEQ,
      </if>
      <if test="custConnectId != null">
        CUST_CONNECT_ID,
      </if>
      <if test="custId != null">
        CUST_ID,
      </if>
      <if test="headFlag != null">
        HEAD_FLAG,
      </if>
      <if test="statusCd != null">
        STATUS_CD,
      </if>
      <if test="statusDate != null">
        STATUS_DATE,
      </if>
      <if test="createStaff != null">
        CREATE_STAFF,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="updateStaff != null">
        UPDATE_STAFF,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="contactId != null">
        CONTACT_ID,
      </if>
      <if test="insertDate != null">
        INSERT_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="custContactInfoRelSeq != null">
        #{custContactInfoRelSeq,jdbcType=BIGINT},
      </if>
      <if test="custConnectId != null">
        #{custConnectId,jdbcType=BIGINT},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="headFlag != null">
        #{headFlag,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
        #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
        #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
        #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="contactId != null">
        #{contactId,jdbcType=BIGINT},
      </if>
      <if test="insertDate != null">
        #{insertDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>