<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.al.nppm.business.order.dao.WorkOrderMapper" >

    <select id="selectWorkOrder" resultType="java.util.HashMap" parameterType="map" >
        select ORDER_SEQ  "orderSeq",
                OWE_BUSINESS_TYPE_ID "oweBusinessTypeId",
                STAFF_ID "staffId",
                SERV_ID "servId",
                ACC_NBR "accNbr",
                CREATED_DATE "createdDate",
                PROC_STATE "procState",
                PROC_MSG "procMsg",
                PROC_DATE "procDate",
                PROC_COUNT "procCount",
                PRE_SERV_STATE "preServState",
                PAYMENT_ID "paymentId",
                REMARK "remark"
         from F_B2C_WORK_ORDER
                where PROC_STATE='10E'

    </select>
<!-- teledb
    <update id="updateWorkOrder" parameterType="map" >
        update F_B2C_WORK_ORDER
        <set >
            <if test="procState != null" >
                PROC_STATE = #{procState,jdbcType=VARCHAR},
            </if>
            <if test="true" >
                PROC_COUNT=IFNULL(PROC_COUNT,0)+1,
                PROC_DATE=sysdate(),
            </if>
            <if test="remark != null" >
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where ORDER_SEQ = #{orderSeq,jdbcType=BIGINT}
    </update>
-->
    <!-- oracle-->
    <update id="updateWorkOrder" parameterType="map" >
        update F_B2C_WORK_ORDER
        <set >
            <if test="procState != null" >
                PROC_STATE = #{procState,jdbcType=VARCHAR},
            </if>
            <if test="true" >
                PROC_COUNT=NVL(PROC_COUNT,0)+1,
                PROC_DATE=sysdate,
            </if>
            <if test="remark != null" >
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where ORDER_SEQ = #{orderSeq,jdbcType=BIGINT}
    </update>

</mapper>