<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.al.nppm.business.account.dao.BTrunkBillingMapper" >
  <insert id="insertTrunkbill" parameterType="map" >
    insert into b_trunk_billing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="switchId != null" >
        SWITCH_ID,
      </if>
      <if test="trunkCode != null" >
        TRUNK_CODE,
      </if>
      <if test="trunkSide != null" >
        TRUNK_SIDE,
      </if>
      <if test="accNbr != null" >
        ACC_NBR,
      </if>
      <if test="effDate != null" >
        EFF_DATE,
      </if>
      <if test="expDate != null" >
        EXP_DATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="gatherPot != null" >
        GATHER_POT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="switchId != null" >
        #{switchId,jdbcType=BIGINT},
      </if>
      <if test="trunkCode != null" >
        #{trunkCode,jdbcType=VARCHAR},
      </if>
      <if test="trunkSide != null" >
        #{trunkSide,jdbcType=CHAR},
      </if>
      <if test="accNbr != null" >
        #{accNbr,jdbcType=VARCHAR},
      </if>
      <if test="effDate != null" >
        #{effDate,jdbcType=DATE},
      </if>
      <if test="expDate != null" >
        #{expDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gatherPot != null" >
        #{gatherPot,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countTrunkBilling" resultType="java.lang.Long" parameterType="map" >
    select count(1) from b_trunk_billing
    WHERE acc_nbr = #{accNbr,jdbcType=VARCHAR}
  </select>
  <update id="updateTrunkBilling" parameterType="map" >
    update b_trunk_billing
    <set >
      <if test="switchId != null" >
        SWITCH_ID = #{switchId,jdbcType=BIGINT},
      </if>
      <if test="trunkCode != null" >
        TRUNK_CODE = #{trunkCode,jdbcType=VARCHAR},
      </if>
      <if test="trunkSide != null" >
        TRUNK_SIDE = #{trunkSide,jdbcType=CHAR},
      </if>
      <if test="accNbr != null" >
        ACC_NBR = #{accNbr,jdbcType=VARCHAR},
      </if>
      <if test="effDate != null" >
        EFF_DATE = #{effDate,jdbcType=DATE},
      </if>
      <if test="expDate != null" >
        EXP_DATE = #{expDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gatherPot != null" >
        GATHER_POT = #{gatherPot,jdbcType=BIGINT},
      </if>
    </set>
       where  ACC_NBR = #{accNbr,jdbcType=VARCHAR}

  </update>

</mapper>