<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.al.nppm.ord.ordbill.dao.OrdPayMapper">

    <select id="getServiceOfferId" resultType="java.lang.String" parameterType="map" >
    select  SERVICE_OFFER_ID
    from ORD_BILL_OBJ
	where TABLE_NAME = 'ORD_OFFER_INST'
	      AND STATUS_CD = 'N'
          AND ARCH_GRP_ID = #{ARCH_GRP_ID}
          AND ORDER_ITEM_ID = #{ORDER_ITEM_ID}
  </select>

    <select id="getAttrValue" resultType="java.lang.String" parameterType="map" >
    select  ATTR_VALUE attrValue
    from ORD_OFFER_INST_ATTR
	where ARCH_GRP_ID = #{ARCH_GRP_ID}
      AND OFFER_INST_ID = #{offerInstId}
  </select>


    <select id="getProdInstId" resultType="java.lang.Long" parameterType="map" >
    select  PROD_INST_ID prodInstId
    from ORD_OFFER_PROD_INST_REL
	where ARCH_GRP_ID = #{ARCH_GRP_ID}
      AND OFFER_INST_ID = #{offerInstId}
  </select>

    <select id="getObjId" resultType="java.lang.Long" parameterType="map" >
    select  OBJ_ID objId
    from ORD_OFFER_OBJ_INST_REL
	where ARCH_GRP_ID = #{ARCH_GRP_ID}
      AND OFFER_INST_ID = #{offerInstId}
  </select>

    <update id="updateOrdOfferInst" parameterType="map">
        update ORD_OFFER_INST
        <set>
            STATUS_CD = #{statusCd} ,
            REMARK = #{remark},
            UPDATE_DATE = #{updateDate}
        </set>
        where ARCH_GRP_ID = #{ARCH_GRP_ID}
        and OFFER_INST_ID = #{offerInstId}
    </update>

    <select id="selectOneItemList" resultType="java.util.HashMap" parameterType="map" >
        SELECT ARCH_GRP_ID,
        ORDER_ITEM_ID,
        ACCT_ITEM_TYPE_ID acctItemTypeId,
        ACCT_ID acctId,
        PROD_INST_ID prodInstId,
        CREATE_DATE createDate,
        CHARGE_METHOD chargeMethod,
        STATUS_DATE statusDate,
        PAID_IN_AMOUNT paidInAmount,
        ORG_ID orgId,
        OFFER_INST_ID offerInstId,
        OFFER_ID offerId,
        ONE_ACCT_ITEM_ID oneAcctItemId
        FROM ONE_ITEM_RESULT
        WHERE
        IF_CHARGE_OFF = 1
        <if test="regionId != null">
            AND SUBSTR(LAN_ID, 1, 5) = #{regionId}
        </if>
        AND PROC_FLAG IN ('0', '2')
        AND CREATE_DATE > DATE_SUB(SYSDATE(),INTERVAL 30 day)
        <!-- and ARCH_GRP_ID = '310035555617' -->
        ORDER BY ARCH_GRP_ID, ORDER_ITEM_ID
    </select>


    <update id="modifyOneItemResult" parameterType="map">
        update ONE_ITEM_RESULT
        <set>
            PROC_FLAG = #{statusCd},
            REMARKS = #{remarks},
            STATUS_DATE = #{statusDate}
        </set>
        where ARCH_GRP_ID = #{ARCH_GRP_ID}
        and ORDER_ITEM_ID = #{ORDER_ITEM_ID}
        and ONE_ACCT_ITEM_ID = #{oneAcctItemId}
    </update>
    <select id="selectOrderlist" resultType="java.util.HashMap" parameterType="map" >
        select
        A.OFFER_INST_ID offerInstId,
        A.OFFER_ID offerId,
        A.EFF_DATE effDate,
        A.EXP_DATE expDate,
        A.STATUS_CD statusCd,
        A.OPER_TYPE operType,
        A.CREATE_DATE createDate,
        A.ARCH_GRP_ID,
        A.ORDER_ITEM_ID
        from ORD_OFFER_INST A
        where 1=1
        <if test="regionId != null">
            and SUBSTR(REGION_ID, 1, 5) = #{regionId}
        </if>
        AND A.STATUS_CD IN ('1000', '1100', '2')
        AND A.CREATE_DATE > DATE_SUB(SYSDATE(),INTERVAL 30 day)
         <!-- AND A.ARCH_GRP_ID = '12574466' -->
        <!--AND A.ARCH_GRP_ID = '310000333832'-->
        ORDER BY A.ARCH_GRP_ID
    </select>

    <select id="getCjAcctId" resultType="java.lang.Long" parameterType="map" >
    select B.ACCT_ID from ord_bill_obj A,ord_prod_inst_acct_rel B
    where A.ARCH_GRP_ID = #{ARCH_GRP_ID}
    AND A.ARCH_GRP_ID = B.ARCH_GRP_ID
    AND A.ORDER_ITEM_ID = B.ORDER_ITEM_ID
    AND TABLE_NAME = 'ORD_PROD_INST_ACCT_REL'
    AND SERVICE_OFFER_ID in  ('4020300003','4020100000');
  </select>
</mapper>